// boton para el login
.button {
    background: $azul-google;
    border: none;
    border-bottom: .3rem solid darken($blue, $amount: 10%);
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    text-decoration: none;
    line-height: 1;
    font-weight: 500;
    padding: $small-size;
}

// modificador
.button--link {
    background: none;
}