.input-group {
    display: flex;
    // cambia orientacion de elementos para pantallas moviles...
    flex-direction: column;
    margin-bottom: $medium-size;

    // configuracion para pantallas grandes (pc/laptop)                      
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;        
        margin-bottom: $large-size;
    }
}

.input-group__item {
    margin-bottom: $small-size;
    
    @media (min-width: $desktop-breakpoint) {        
        margin-right: $small-size;
        margin: 0 $small-size 0 0;
    }
}