.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 10%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $small-size $medium-size;
}

.list-item {
    border: 1px solid darken($off-white, 10%);
    border-top: none;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: $small-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $medium-size;
    }
}

.list-body {
    margin-bottom: $medium-size;
    @media  (min-width: $desktop-breakpoint) {
        margin-bottom: $large-size;
    }
}

.list-item--message {
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $medium-size;
    &:hover {
        background: none
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__subtitle {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: $small-size 0 0 0;
    // implementacion para pantallas grandes
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        // espacio para que "respire"
        padding: $small-size;
    }
}