.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 10%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $small-size $medium-size;
}