// Colors
$off-black: #20222b;
$off-white: #bcc3dd;
$dark-blue: #364051;
$blue: #3c4251;
$purple: #8357c5;
$ligth-blue: #464b5e;
$azulito: #e2e8f4;
$dark-grey: #333333;
$azul-google: #1c88bf;

// font sizes
$font-size-large: 1.8rem;

// Espacios
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xl-size: 4.8rem;
$small-size: 1.2rem;
$desktop-breakpoint: 45rem;
